
body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    margin: auto;
    width: 50%;
    text-align: center;
}

.answer-button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    color: white;
    background-color: #0066cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.answer-button:hover {
    background-color: #004d99;
}

#results-container {
    margin: auto;
    width: 50%;
    text-align: center;
}
