body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

#quiz-container {
    width: 800px;
    max-width: 80%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

button {
    padding: 5px 10px;
}

#result {
    margin-top: 20px;
}
